.medium-zoom-overlay {
  z-index: 30;
}

.medium-zoom-image {
  z-index: 30;
}

/* Add custom global styles for the theme here */

html,
body {
  transition: background-color 0.3s ease;
}

.VPDoc.has-sidebar.has-aside::before {
  visibility: hidden;
}

/* Removed fade-in animation for main content */
main {
  /* No animations here */
}

.VPNavBar {
  backdrop-filter: blur(10px);
}

/*

Fixes for default VitePress styles

*/

@media (min-width: 1440px) {
  .VPNavBar.has-sidebar .content {
    padding-right: calc((100vw - var(--vp-layout-max-width)) / 2) !important;
  }

  .VPNavBar:not(.home.top) .content-body {
    padding-right: 32px;
  }
}

@media (min-width: 960px) {
  .VPDoc {
    border-radius: 0 !important;
  }
}
